// You can override colors BEFORE materialize.scss:
// $primary-color: blue;

// You can NOT use materialize color mixins since they are not imported yet.
// WRONG! $primary-color: color("materialize-red", "lighten-2");

@import "colors.import.scss";
@import ".meteor/local/build/programs/server/assets/packages/poetic_materialize-scss/bower_components/materialize/sass/materialize.scss";
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,100,700);
@import url(https://fonts.googleapis.com/css?family=Slabo+27px);

$border-color: #D4D4D4;
$nav-text-color: #ECECEC;
// $nav-color: #5BA4C7;
$nav-color: transparent;

$text-color: rgba(0, 0, 0, 0.51);
$bg-color: rgba(255, 255, 255, 0.9);
$highlight: #ffab40;
$highlight-hover: #ffd8a6;

// old: rgba(0, 13, 84, 0.65)
$bg-overlay: rgba(0, 13, 84, 0.65);

// overwrite material design coloring
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid black;
  box-shadow: 0 1px 0 0 black;
}

html {
  background-color: black;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

body:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;

  display: block;
  background-image: linear-gradient( $bg-overlay, $bg-overlay ), url('images/49460.jpg');
  // background-image: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ), url('images/72039.jpg');
  background-size:cover;
  width: 100%;
  height: 100%;

  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

body {
  overflow: auto;
  position: relative;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

body {
  color: white;
}

nav {
  background-color: $nav-color;
  // box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.05), 0 2px 10px 0 rgba(0, 0, 0, 0.03);
  box-shadow: none;

  .brand-logo {
    color: $nav-text-color;
  }

  ul a {
    color: $nav-text-color;
  }
}

footer.page-footer {
  background-color: $nav-color;
}

main {
  padding-top: 1em;
  min-height: 400px;
  flex: 1 0 auto;
}

.waves-effect {
  z-index: inherit;
}

.material-tooltip { white-space: normal; }

.brand-logo {
  margin-left: 1em;
}

#steamLogin {
  cursor: pointer;
}

#landing {
  margin-top: -1em;
}

.landing-panel {
  height: auto;
  text-decoration: none;
}

.who-we-are {
  margin-top: 1.5em;
}

.lg-preview-title {
  font-size: 160%;
  font-weight: bold;
  text-transform: uppercase;
}

.lg-preview-content {
  font-size: 200%;
  height: 8em;
/*  border-width: 1px;
  -moz-border-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), #000000, #000000, rgba(0, 0, 0, 0)) 1 100%;
  -webkit-border-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(33.33333%, #000000), color-stop(66.66667%, #000000), color-stop(100%, rgba(0, 0, 0, 0))) 1 100%;
  -webkit-border-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), #000000, #000000, rgba(0, 0, 0, 0)) 1 100%;
  -o-border-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), #000000, #000000, rgba(0, 0, 0, 0)) 1 100%;
  border-image: linear-gradient(top, rgba(0, 0, 0, 0), #000000, #000000, rgba(0, 0, 0, 0)) 1 100%;}
*/
}

.valign-text {
  height: 100%;
  display: flex;
  justify-content:center;
  align-content:center;
  flex-direction:column; /* column | row */
}

.right-landing-panel {
  text-align: right;
}

.landing-info-card {
  font-size: 18px;
  margin-bottom: 0;
}

.loginDropdown {
  text-decoration: underline;
}

.loginDropIcon {
  margin-left: 0 !important;
}

.channelList {
  i {
    display: none;
  }

  .active-channel {
    i {
      font-size: 1.5em;
      color: #2AE503;
      display: inline-block;
    }
  }
}

.tradingFloor {
  transition: box-shadow 0.25s;
  padding: 20px 20px 0 20px ;
  margin: 0.5rem 0 1rem 0;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);


  .chatTextWindow {
    overflow: auto;
    height:300px;
  }
}

.chat-box {
  min-height: 3rem;
  margin-left: 3rem;
  width: calc(100% - 3rem);
  margin-bottom: 1.25rem;
  line-height: 3rem;
  margin-top: 0;
  -webkit-appearance: textfield;
  appearance: textfield;

  font-size: 1.25rem;
  padding: 0;
  box-shadow: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(160,160,160, .3);
  box-shadow: 0 1px 0 0 rgba(160,160,160, .3);
  transition: all 0.3s;

  &:hover {
    border-bottom: 1px solid #26a69a;
    box-shadow: 0 1px 0 0 #26a69a;
  }

  &:focus {
    outline: 0;
    border-bottom: 1px solid #26a69a;
    box-shadow: 0 1px 0 0 #26a69a;
  }

  .mdi-editor-mode-edit .prefix {
    font-size: 1.3rem;
  }
}

.img-placeholder {
  span {
    display: none;
  }
}

.chat-item {
  height: 2.5rem !important;
  margin-bottom: -.75rem;
  cursor: normal;
  margin-left: 5px;
  margin-right: 5px;
}

.chat-username {
  color: white;
  border-radius: 2px;
  background-color: #476580;
  padding-bottom: 3px;
  padding-left: 4px;

  /* keeps the rows the correct distance apart since the images fuck with things */
  // margin: .75rem 0;

  div {
    margin-left: 4px;
    margin-right: 4px;
    display: inline-block;
  }
}

.msg-container {
  img {
    border-radius: 2px;
  }

  margin-bottom: 5px;
}

.message-time {
  color: #ACB3B9;
  font-size: .8rem;
  padding-left: 4px;
  padding-right: 4px;
}

.message-text {
  color: black;
}

.draggable-stash-item:hover {
  cursor: -webkit-grab;
  cursor: -moz-grab;
}

.stash-hover {
  box-shadow: 2px 2px 5px 0 rgba(245, 131, 131, 0.5), 0 2px 10px 0 rgba(253, 98, 98, 0.5) !important;
}

.colored-title {
  overflow: hidden;

  margin-top: -20px;
  margin-left: -20px;
  margin-right: -20px;
  padding-top: 0;
  padding: 5px 20px 5px 20px;
  border-radius: 4px;

  background-color: transparent;
  color: $text-color;
  letter-spacing: 2px;
  font-weight: 300;
  font-size: 1.5rem;
}

#itemModal .row {
  margin-bottom: 0;
}

.add-remove-items {
  height: 50vh;
  min-height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.add-remove-row {
  margin-bottom: 0;
}

.contained-item {
  cursor: pointer;

  &.selected {
    img {
      background-color: #CACACA;
      border-radius: 4px;
      // -moz-box-shadow:    inset 0 0 10px #B2DED3;
      // -webkit-box-shadow: inset 0 0 10px #B2DED3;
      // box-shadow:         inset 0 0 10px #B2DED3;
    }

    .selected-checkmark {
      display: block;
    }
  }

  .selected-checkmark {
    display: none;
    position: absolute;
    color: red;
    top: 0;
  }
}

.confirm-manage-items {
  margin-bottom: 0;
  text-align: center;
}

.next-steps-div {
  margin-top: 2rem;
  text-align: center;

  .emphasis {
    font-weight: 400;

    span {
      color: red;
    }
  }
}

.trade-alert {
  color: white !important;
}

.item-infoed .material-tooltip {
  border-radius: 5px;
}

.item-tooltip-contents {
  // font-size: .8rem;
  text-align: left;
  padding: .8rem;

  .item-info-title {
    color: white;
    font-size: 1.2rem;
    margin-bottom: .8rem;
  }

  .not-tradable {
    margin-top: .8rem;
    text-align: right;

    span {
      padding: .5rem;
      border-radius: 2px;
      background-color: #940202;
    }
  }

  .item-info-type {
    color: #756D55;
  }

  .container-items {
    margin: .2rem;
  }
}

.ironbucks-amount {
  text-align: center;
  color: white;
}

.fade-up {
  animation-name: fadeInUp;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  -webkit-animation-name: fadeInUp;
  -webkit-animation-duration: 0.2s;
  -webkit-animation-iteration-count: 1;
}

.pan {
  box-shadow: none;
  border-radius: 4px;
  background-color: $bg-color;

  color: #352D2D;

  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.05), 0 2px 10px 0 rgba(0, 0, 0, 0.03);

  &:hover {
    transition: box-shadow 0.25s;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@-ms-keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@-o-keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.search-field {
  margin-top: 0;
  margin-bottom: 0;

  input {
    margin-bottom: 0;
  }
}

.no-margin {
  margin-bottom: 0;
}

$land-br: 4px;

.hello, .who-we-are {
  .card {
    border-radius: $land-br;
    background-color: transparent;
  }

  .pan {
    background-color: rgba(0, 0, 0, 0.6);
    color: #9E9EFD;

    .landing-panel-title {
      font-size: 200%;
      // background-color: rgba(255, 255, 255, 0.1);
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 10px;
      color: white;
      border-top-right-radius: $land-br;
      border-top-left-radius: $land-br;
      margin-bottom: 0;
    }
  }
}

.card {
  background-color: rgba(0, 0, 0, 0.5);
}

.list {
  list-style: none;
  font-weight: 100;
  // margin-bottom: 10px;
  font-size: 170%;

  li {
    padding-bottom: 1em;

    &:last-child {
      padding-bottom: 0;
    }
  }
}

.sizing-card {
  padding-left: 10px;
  padding-right: 10px;
}

.item-nav {
  background-color: rgba(255, 255, 255, 0.9);
}

.timeinforow {
  color: #f0f4c3;

  .username {
    color: #dce775;
    font-weight: 700;
  }
}

.market-item-row {
  .market-pan {
    background-color: $bg-color;
    color: $text-color;
    text-align: center;
    vertical-align: middle;
    border-radius: 4px;

    &.connector {
      background-color: transparent;
      color: #AF9B9B;

      div {
        background-color: rgba(0, 0, 0, 0.5);
      }
    }

    .none-specified {
      font-size: 36px;
    }

    i {
      font-size: 48px;
    }
  }

  .item-cont {
    overflow: hidden;
    padding: 10px;

    .item-infoed {
      // float: left;
      display: inline;

      img {
        width: 70px;
        height: auto;
      }
    }
  }
}

.market-action {
  vertical-align: middle;

  .market-action-cont {
    height: 100%;
    padding: 10px 5px 10px 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0 $land-br $land-br 0;
  }

  a {
    color: $highlight;
    -webkit-transition: color .3s ease;
    -moz-transition: color .3s ease;
    -o-transition: color .3s ease;
    -ms-transition: color .3s ease;
    transition: color .3s ease;
    text-transform: uppercase;

    display: block;

    &:hover {
      color: $highlight-hover;
    }
  }
}

.if-btn {
  background-color: rgba(255,255,255,.4);
  color: white;

  &:hover {
    color: black;
    background-color: rgba(255,255,255,.8);
  }
}

.tabs.basic {
  background-color: transparent;
}

.bottom-links {
  display: table;
  width: 100%;
  span {
    display: table-cell;
  }
}

.command-ribbon {
  text-align: center;
  color: #E6B1B1;

  .val {
    color: white;
  }
}

#tradeurl-form {
  color: #CC823E;

  input[type=text]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
      transition: background-color 5000s ease-in-out 0s;
  }

  input[type=email] {
    border-bottom: 1px solid #000;
    box-shadow: none;

    .valid {
      border-bottom: 1px solid #000;
      box-shadow: 0 1px 0 0 #000;
    }

    &:focus {
      border-bottom: 1px solid #000;
      box-shadow: 0 1px 0 0 #000;
    }
  }
}

.error-msg {
  text-align: left;
  color: red;
  display: none;
}

.land-sub {
  font-size: 60px;
  line-height: 1;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
}

.land-brand {
  font-family: 'Slabo 27px', serif;
  font-size: 12vw;
  font-weight: 300;
  color: #D4A36A;
  text-transform: lowercase;

  span {
    font-size: 8vw;
    color: #FFD8AA;
  }
}

.land-container {
  width: 30%;
  right: 20px;
  position: absolute;
  bottom: 90px;

  a {
    display: block;
    margin: -20px;
    padding: 20px;
  }

  .pan {
    &:hover {
      background-color: rgba(255, 255, 255, 0.3);
      .landing-panel-title {
        color: #060402;
      }
    }
  }

  .landing-panel-title {
    font-size: 150% !important;
  }
}

.sizing-card {
  &:first-child {
    margin-left: -100%;
  }

  &:nth-child(2) {
    margin-left: -50%;
  }
}

.land-main {
  padding-left: 8%;

  .land-signin {
    text-align: center;
    color: white;
    padding-top: 10%;
    font-size: 18px;
  }
}

.filter-term {
  display: inline-block;
  // float: left;
  margin: 5px;
  background-color: rgba(27, 27, 27, 0.44);
  color: rgba(255, 255, 255, 0.9);
  padding: 5px 10px 5px 10px;
  border-radius: 2px;

  span {
    margin-left: 5px;
    color: $highlight;

    &:hover {
      color: $highlight-hover;
    }
  }
}

.dark-pan {
  border-radius: $land-br;
  background-color: rgba(0, 0, 0, 0.6);
  color: #9E9EFD;

  .collapsible, {
    border: none;
  }

  .collapsible-body {
    border: none;
    padding: 5px 10px;
    border-radius: $land-br;

    li {
      padding: 5px 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      img {
        vertical-align: middle;
        margin-right: 5px;
      }
    }
  }

  .collapsible-header {
    background-color: transparent;
    border: none;
    border-radius: 0;
  }

  .active {
    background-color: rgba(255, 255, 255, 0.1);;
  }

  ul {
    border-radius: $land-br;

    li {
      border-radius: 0;

      &:first-child {
        border-radius: $land-br $land-br 0 0;

        .collapsible-header {
          border-radius: $land-br $land-br 0 0;
        }
      }
    }

    > li:last-child {
      border-radius: 0 0 $land-br $land-br;
      padding-bottom: 10px;
    }

    a {
      color: #E4E4E4;
      border-radius: $land-br;
      display: block;
      padding: 5px 0 5px 20px;

      &.active {
        color: white;
      }
    }
  }
}

.table-fun {
  display: table;
  width: 100%;
  margin-bottom: 10px;
  border-collapse: collapse;

  .table-row {
    display: table-row;
  }

  .table-cell {
    display: table-cell;

    &.cell45 {
      width: unquote((9/24 * 100) + "%");
    }

    &.cell55 {
      width: unquote((11/24 * 100) + "%");
    }

    &.cell2 {
      width: unquote((1/6 * 100) + "%");
    }

    &.cell1 {
      width: unquote(((1/12) * 100) + "%");
    }

    &.cell6 {
      width: unquote(((1/2) * 100) + "%");
    }

    &.cell11 {
      width: unquote(((11/12) * 100) + "%");
    }

    &.cell10 {
      width: unquote(((5/6) * 100) + "%");
    }
  }
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.offer-modal-container {
  height: 100% !important;
  position: fixed;
  z-index: 500;
  top: 0 !important;
  right: 0px;
  border-radius: 0;
  max-height: 100%;
  overflow: auto;
  width: 100%;

  .username {
    margin-top: -1em;

    span {
      font-size: 150%;
      color: #4BBF91;
      font-weight: 400;
      padding-left: .5em;
    }
  }

  > .row {
    padding-top: 4rem;
  }

  .offer-modal-content {
    padding-top: 30px;
    background-color: black;
    opacity: .98;
    border-radius: 8px;

    .pan {
      opacity: 1;
      background-color: white;

      -webkit-animation-name: none;
              animation-name: none;
    }
  }
}

#offer-stash-items {
  max-height: 400px;
}

.add-item-link {
  padding-top: 8px;
  text-align: right;
}

$chat-width: 260px;
$chat-height: 300px;
$chat-input-height: 32px;
$chat-bg: rgba(0, 0, 0, 0.95);
$chat-bg-light: rgba(255, 255, 255, 0.15);
$chat-border: none;
$chat-window-height: $chat-height - $chat-input-height;
$chat-br: 2px;
$chat-bg-alert: rgba(255, 255, 255, 0.3);

.chat-inp {
  table-layout: fixed;

  .table-cell {
    padding: 4px;
  }

  input {
    border: none;
    margin: 0;
    padding: 5px 5px 5px 10px;
    height: 24px;
    background-color: grey;
    display: block;
    width: 100%;
    box-sizing: border-box;

    &:focus {
      border: none;
      box-shadow: none;
    }
  }

  i {
    font-size: 1rem;

  }
}

#chat-widget {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: white;

  .chat-rel {
    position: relative;
    float: right;
  }

  .chat-panel {
    float: left;
    position: relative;
    margin-right: 5px;
    width: $chat-width;
    background-color: $chat-bg;
    border-radius: $chat-br;

    .new-messages {
      &.chat-label {
        background-color: $chat-bg-alert;
        border-radius: $chat-br;
      }

      &.message-row .chat-label {
        display: none;
      }
    }

    .label-row {
      background-color: $chat-bg-light;
      border-radius: $chat-br $chat-br 0 0;
    }

    .label-input-row {
      border-radius: $chat-br;

      .chat-inp {
        display: none;
      }
    }

    &.active-chat {
      border-radius: 0 0 $chat-br $chat-br;

      .label-input-row {
        border-radius: 0 0 $chat-br $chat-br;
        background-color: $chat-bg-light;

        a {
          display: none;
        }

        .chat-inp {
          display: table;
          // height: $chat-input-height;
        }

        .table-fun {
          margin: 0;
        }
      }

      .message-row {
        // display: block;
        height: $chat-height;
        -webkit-transition: height .1s ease-out;
        transition: height .1s ease-out;
      }

      .chat-display-box {
        visibility: visible;
      }
    }

    .chat-label {
      padding: 5px;
      display: block;
      text-align: center;
      font-weight: 700;
    }

    i.status-icon {
      float: right;
      vertical-align: middle;
      color: red;

      &.online {
        color: green;
      }
    }

    .message-row {
      border: $chat-border;
      background-color: $chat-bg;
      width: $chat-width;
      position: absolute;
      bottom: 100%;
      width: 100%;
      border-radius: $chat-br $chat-br 0 0;
      // display: none;
        display: block;
      height: 0;
      -webkit-transition: height .1s ease-out;
      transition: height .1s ease-out;
    }
  }

  .chat-display-box {
    position: relative;
    text-overflow: clip;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 10px;
    height: $chat-window-height;
    border-left: 4px solid $chat-bg-light;
    border-right: 4px solid $chat-bg-light;
    visibility: hidden;
  }
}

.submit-cell {
  position: relative;
  overflow: hidden;
}

.btn-chatsubmit {
  line-height: inherit;
  position: absolute;
  left: -20px;
  width: 20px;
  height: 26px;
  background-color: inherit;
  color: #86C5FD;
  box-shadow: none;
  display: block;

  &:focus {
    background-color: inherit;
  }

  &:hover {
    background-color: inherit;
    box-shadow: none;
    color: #CFE8FF;
  }
}

.close-chat {
  position: absolute;
  display: inline-block;
  height: 100%;
  padding-left: 10px;
  font-size: 22px;
  color: white;
}

.chat-userinfo {
  font-size: 11px;
  margin-top: 15px;
  color: #C3C3C3;

  &:first-child {
    margin-top: 0;
  }

  .chat-time {
    color: grey;
  }
}

.msg-badge {
  border-radius: 1em;
  background-color: white;
  color: #616161;
  margin-left: 10px;
  padding: 0 5px 0 5px;
}

$cs-width: 60px;
$cs-bg: rgba(255, 255, 255, 0.95);
$cs-size: 400px;

#chat-stash {
  float: left;
  width: $cs-width;
  margin-right: 5px;

  .icon-container {
    color: black;
    background-color: $chat-bg;
    width: $cs-width;
    text-align: center;
    border-radius: $chat-br;
  }

  &.active-chat-stash {
    #toggle-chat-stash {
      background-color: $cs-bg;
      color: #484848;
    }

    .chat-stash-items {
      display: block;
    }
  }

}

#toggle-chat-stash {
  border-radius: $chat-br;
  padding-top: 4px;
  display: block;
  background-color: $chat-bg-light;
  color: white;
}

.chat-stash-items {
  position: absolute;
  bottom: 100%;
  right: 5px;
  width: $cs-size;
  max-height: $cs-size;
  display: none;

  .pan {
    background-color: rgb(255, 255, 255);
    color: black;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.2);

    input[type=text]:focus {
      border-bottom-color: black;
      box-shadow: none;
    }
  }
}

.close-link {
  position: absolute;
  left: .5em;
  top: .5em;
  font-size: 24px;
  color: black;
  z-index: 100;

  &:hover {
    color: #989393;
  }
}

.leftside, .rightside {
  .item-infoed {
    cursor: pointer;
  }
}

#my-listing-items .make-offer-items {
  height: 120px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#their-listing-items .make-offer-items {
  height: 150px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.my-realtime-items {
  .make-offer-items {
    height: 120px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}

.realtime-chat-box {
  height: 298.5px;
  margin-top: 7.5px;
  margin-bottom: 15px;

  .chat-display-box {
    height: 250px;
    overflow-y: scroll;
    overflow-x: hidden;
    text-overflow: clip;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #949494;
  }
}

$confirmed-color: #00FF4E;
$done-color: #FFE000;

.current-realtime-row {
  &.me-done .leftside {
    box-shadow: 0 0 10px 4px $done-color;
  }

  &.them-done .rightside {
    box-shadow: 0 0 10px 4px $done-color;
  }

  &.me-confirmed .leftside {
    box-shadow: 0 0 10px 4px $confirmed-color;
  }

  &.them-confirmed .rightside {
    box-shadow: 0 0 10px 4px $confirmed-color;
  }

  .market-item-row .market-pan.connector div {
    background-color: transparent;
  }
}

ul.tabs {
  background-color: transparent;
}

.ironbucks-picker {
  position: absolute;
  // top: 0;
  // left: 50%;
  margin-top: -100px;
  // margin-left: -100px;
  width: 200px;
  background-color: #404040;
  color: white;
  padding: 10px;
  border-radius: 4px;
  font-size: 20px;

  .ib-close {
    position: absolute;
  }

  .ib-title {
    text-align: center;
    color: grey;
    font-weight: bold;
  }

  .btn-div {
    padding-top: 10px;
  }

  .input-field {
    margin: 0 !important;
  }

  button {
    width: 100%;
  }

  input {
    margin: 0 !important;
    text-align: center;
    font-size: 30px !important;
    color: #39D28D;
    border-radius: 4px;
  }
}

.faq-q {
  color: #FDBFBF;
  font-size: 24px;
}

.faq-a {
  color: #97DE7C;
  li {
    color: white;
  }
  font-size: 18px;
}