<template name="addIronBucks">
<div class="row">
  <div class="col s6 offset-s3">
    {{#if embedCode}}
    <iframe id="coinbase_inline_iframe_{{embedCode}}" 
            src="https://www.coinbase.com/checkouts/{{embedCode}}/inline"
            style="width: 460px; height: 350px; border: none; 
            box-shadow: 0 1px 3px rgba(0,0,0,0.25);" 
            allowtransparency="true" frameborder="0">
    </iframe>
    {{else}}
    <div class="tradingFloor pan">
      <div class="colored-title">
        Current Balance: {{ironBucks}}
      </div>
      <div class="chatTextWindow">
        <!-- show current iron bucks balance -->
        <div class="input-field col s8">
          <input id="amount" type="number" class="validate">
          <label for="amount">Amount</label> 
        </div>
        <div class="input-field col s4">
          <input id="currency" type="text" class="validate">
          <label for="currency">Currency</label> 
        </div>
        <div class="col s12 center">
          {{#if conversionRate}}
          <p>
          <h5>Receive {{conversionRate}} IronBucks</h5>
          </p>
          {{/if}}
        </div>
        <div class="col s12 center">
          <a class="btn-floating btn-large waves-effect waves-light green
          center" id="add">
            Add!
          </a>
        </div>
      </div>
    </div>
    {{/if}}
  </div>
</div>
</template>
