<template name="addIronBucks">
  <div class="row">
    <div class="col s3">
      <div class="tradingFloor pan dark-pan">
        <div class="colored-title">
          Instructions
        </div>
        <div class="chatTextWindow">
          <ol>
            <li>Enter the amount of IronBucks you want</li>
            <li>The price will show up in USD</li>
            <li>Click Add!</li>
            <li>  This will take you to the Coinbase login screen</li>
            <li>If you already have an existing Bitcoin wallet, you can use the
              "Bitcoin Address" tab to receive a code and a QR code to pay with</li>
            <li>Otherwise click on the "Coinbase Wallet" tab and enter  your Coinbase credentials or Sign Up with Coinbase</li>
            <li>Follow the instructions on the Coinbase form to purchase your IronBucks</li>
            <li>That's it! Your IronBucks should be updated within seconds with
              your new balance.</li>
          </ol>
        </div>
      </div>
    </div>
    <div class="col s6">
      {{#if embedCode}}
      <div class="tradingFloor pan">
        <div class="colored-title">
          Coinbase Payment
        </div>
        <div class="chatTextWindow">
          <iframe id="coinbase_inline_iframe_{{embedCode}}"
                  src="https://www.coinbase.com/checkouts/{{embedCode}}/inline"
                  style="width: 460px; height: 450px; border: none;
                  box-shadow: 0 1px 3px rgba(0,0,0,0.25);"
                  allowtransparency="true" frameborder="0">
          </iframe>
        </div>
      </div>
      {{else}}
      <div class="tradingFloor pan">
        <div class="colored-title">
          Current Balance: {{ironBucks}}
        </div>
        <div class="chatTextWindow">
          {{#if hasEmail}}
          <div class="input-field col s8 offset-s2">
            <input id="amount" type="number" class="validate">
            <label for="amount">Amount of IronBucks to Purchase</label>
          </div>
          <div class="col s12 center">
            {{#if price}}
            <p>
            <h5>Price: {{price}} USD</h5>
            </p>
            {{/if}}
          </div>
          <div class="col s12 center">
            {{#if addPending}}
            <a class="btn-floating btn-large waves-effect waves-light green
            center disabled" id="pending">
              Wait
            </a>
            {{else}}
            <a class="btn-floating btn-large waves-effect waves-light green
            center" id="add">
              Add!
            </a>
            {{/if}}
          </div>
          {{else}}
            <p>Please enter your email address and trade URL <a href="{{pathFor
            route='profile'}}">here</a> to allow you to add IronBucks</p>
          {{/if}}
        </div>
      </div>
      {{/if}}
    </div>
  </div>
</template>
