<template name="chatInput">
  <form>
    <div class="row valign-wrapper">
      <div class="input-field col s10 valign">
        <i class="mdi-editor-mode-edit prefix"></i>
        <div contenteditable="true" class="chat-box validate" id="chat_message">
          Hello i am typing
        </div>
<!--         <input placeholder="Enter Chat Message here..." type="text" class="validate">
 -->      </div>
      <button class="btn waves-effect waves-light valign" id="post">Post</button>
    </div>
    {{ #if this.length }}
      <div class="row chat-input-items">
        {{ #each this }}
          <div class="col s2">
            <img src="{{ iconURL }}" class="responsive-img draggable-stash-item" id="{{ _id }}">
          </div>
        {{ /each }}
      </div>
    {{ /if }}
  </form>
</template>

<!--         <input placeholder="Enter Chat Message here..." id="chat_message" type="text" class="validate">
 -->