<template name="chatPanel">
  <div class="chat-panel" id="{{ _id }}">
    <div class="label-input-row">
      <a href="#!" class="close-chat">&times;</a>
      <a href="#!" class="chat-label">{{ otherUser.name }}<i class="material-icons status-icon {{ status }}">perm_identity</i></a>
      <div class="table-fun chat-inp">
        <div class="table-row">
          <div class="table-cell cell10">
            <input type="text">
          </div>
          <div class="table-cell cell2">
            <button type="submit" class="btn btn-chatsubmit"><i class="material-icons">play_arrow</i></button>
          </div>
        </div>
      </div>
    </div>
    <div class="message-row">
      <div class="label-row">
        <a href="#!" class="close-chat">&times;</a>
        <a href="#!" class="chat-label">{{ otherUser.name }}<i class="material-icons status-icon {{ status }}">perm_identity</i></a>
      </div>
      {{ #each messages }}
        <div class="chat-msg">{{ text }}</div>
      {{ /each }}
    </div>
  </div>
</template>