<template name="ironbucksPicker">
  <div class="ironbucks-picker fade-up">
    <a href="#!" class="ib-close">&nbsp;&nbsp;&times;&nbsp;&nbsp;</a>
    <div class="ib-title">Cash</div>
    <div class="ib-form-container">
      <form class="ib-form">
        <div class="input-field">
          <input type="text" class="ironbucks-input">
        </div>
        <div class="btn-div">
          <button type="submit" class="btn btn-block grey lighten ib-done">done</button>
        </div>
      </form>
    </div>
  </div>
</template>
