<template name="itemContainer">
  <div class="card-panel portable-stash pan">
    <div class="colored-title">
      {{ title }}
    </div>
    {{ #if noSearch }}
      <div class="row">
      </div>
    {{ else }}
      <div class="row">
        <div class="input-field col s12 search-field">
          <input id="{{ searchBoxId }}" type="text" placeholder="search">
        </div>
      </div>
    {{ /if }}
    <div class="row {{ class }}">
      {{ #each filteredItems }}
        <div class="col {{ colWidth ../columns }} contained-item {{ selected }} item-infoed">
          <img src="{{ iconURL }}" class="responsive-img" data-itemid="{{ _id }}">
          <!-- <i class="material-icons selected-checkmark">done</i> -->
        </div>
      {{ else }}
        {{ #if ready }}
          <div class="col s12">
          </div>
        {{ else }}
          <div class="col s12 loading">
            <div class="spinner">
              <div class="dot1"></div>
              <div class="dot2"></div>
            </div>
          </div>
        {{ /if }}
      {{ /each}}
    </div>
  </div>
</template>
