<template name="itemContainer">
  <div class="card-panel portable-stash pan">
    {{ #if title }}
      <div class="colored-title">
        {{ title }}
      </div>
    {{ /if }}
    {{ #if noSearch }}
      <div class="row">
      </div>
    {{ else }}
      <div class="row">
        <div class="input-field col s12 search-field">
          <input id="{{ searchBoxId }}" type="text" placeholder="search">
        </div>
      </div>
    {{ /if }}
    <div class="row {{ class }}">
      {{ #each filteredItems }}
        <div class="col {{ colWidth ../columns }} contained-item {{ selected }} item-infoed">
          <img src="{{ icon ../generic }}" class="responsive-img" data-itemid="{{ _id }}">
          <!-- <i class="material-icons selected-checkmark">done</i> -->
        </div>
      {{ else }}
        {{ #if ready }}
          <div class="col s12">
            {{ #if privateInv }}
              <div>
              Your inventory is set to private. To fix:
                <ol>
                  <li>Go to your <a href="{{ editProfileLink }}" target="_blank">steam profile settings</a></li>
                  <li>Under Inventory, select <strong>Public</strong></li>
                  <li>Scroll to the bottom and click <strong>Save Changes</strong></li>
                  <li>Refresh this page</li>
                </ol>
              </div>
            {{ /if }}
          </div>
        {{ else }}
          <div class="col s12 loading">
            <div class="spinner">
              <div class="dot1"></div>
              <div class="dot2"></div>
            </div>
          </div>
        {{ /if }}
      {{ /each}}
    </div>
    {{ #if addItemLink }}
      <div class="add-item-link">
        <a href="{{ pathFor route='manageStash' }}">add items to stash</a>
      </div>
    {{ /if }}
  </div>
</template>
