<template name="itemContainer">
  <div class="card-panel portable-stash">
    <div class="colored-title">
      {{ title }}
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="{{ searchBoxId }}" type="text" placeholder="search">
      </div>
    </div>
    <div class="row {{ class }}">
      {{ #each filteredItems }}
        <div class="col {{ colWidth ../columns }} contained-item {{ selected }}">
          <img src="{{ iconURL }}" class="responsive-img" data-itemid="{{ _id }}">
          <i class="material-icons selected-checkmark">done</i>
        </div>
      {{ else }}
        <div class="col s12 loading">
          <div class="spinner">
            <div class="dot1"></div>
            <div class="dot2"></div>
          </div>
        </div>
      {{ /each}}
    </div>
  </div>
</template>
