<template name="marketRow">
  <div class="row table-fun">
    {{ #if timeinforow }}
      <div class="timeinforow">
        {{#if notMyListing}}
          <span class="username">{{ data.user.profile.name }}</span>
        {{else}}
          <span class="username">You</span>
        {{/if}}
        posted on {{ justDate data.datePosted }} at {{ justTime data.datePosted }}
      </div>
    {{ /if }}
    <div class="market-item-row table-row">
      <div class="table-cell {{ contWidth }} item-cont market-pan leftside">
        {{ #each leftSide }}
          <div class="item-infoed">
            <img width="70px" src="{{ icon }}">
          </div>
        {{ else }}
          <div class="none-specified">
            ?
          </div>
        {{ /each }}
      </div>
      <div class="table-cell cell1 market-pan connector">
        <div>
          <i class="material-icons valign">swap_horiz</i>
        </div>
      </div>
      <div class="table-cell {{ contWidth }} item-cont market-pan rightside">
        {{ #each rightSide }}
          <div class="item-infoed">
            <img width="70px" src="{{ icon }}">
          </div>
        {{ else }}
          <div class="none-specified">
            ?
          </div>
        {{ /each }}
      </div>
      {{#if showControls}}
        <div class="table-cell cell2 market-action">
          <div class="market-action-cont">
            {{ #if currentUser }}
              {{ #if notMyListing }}
                <!-- <a class="acceptTrade" href="{{ pathFor route='makeOffer' data=getListing }}"> -->
                <a class="acceptTrade" href="#">
                  Offer
                </a>
                <a href="#!" class="sendMessage">Message</a>
              {{else}}
                <a href="#!" class="removeListing">Remove Listing</a>
              {{ /if }}
            {{ else }}
              <a href="#!" class="sign-up-trigger">Sign In</a>
            {{ /if }}
          </div>
        </div>
      {{/if}}
    </div>
  </div>
</template>
