<template name="message">
  <div class="msg-container">
    <img class="responsive-img" src="{{ getImage }}">
    <a href="#" class="user-dropdown {{state}} chat-username" data-activates="{{ _id }}">
      {{ user.profile.name }}
    </a>
    <!-- Dropdown Structure -->
    <ul id="{{ _id }}" class="dropdown-content">
      {{ #if notMe }}
        <li><a href="#!" class="privateChat">Start Private Chat</a></li>
        <li><a href="#" class="beginTrade">Invite to Real Time Trade</a></li>
      {{ /if }}
      <li><a href="#!">Status: {{ status }}</a></li>
    </ul>
    <span class="message-time">({{ justTime datePosted }})</span>
    <span class="message-text">{{ textWithImages }}</span>
  </div>
</template>
