<template name="portableStash">
  <div class="card-panel portable-stash pan">
    <div class="colored-title">
      Stash
    </div>
    <div class="row">
      <div class="input-field col s12 search-field">
        <input id="search" type="text" placeholder="search">
      </div>
    </div>
    <div class="row no-margin">
      {{#each items }}
        <div class="col s3 item-infoed">
          <img src="{{ iconURL }}" class="responsive-img draggable-stash-item" id="stash_{{ _id }}" data-itemid="{{ _id }}">
        </div>
      {{/each}}
      <div class="add-item-link">
        <a href="{{ pathFor route='manageStash' }}">add items</a>
      </div>
    </div>
  </div>
</template>