<template name="postTradeRequest">
<div class="row">
  <div class="col s6 grey lighten-4">
    <h3 class="center-align">I Have..</h3>
    <form>
      <div class="input-field">
        <input placeholder="Search Inventory" id="search" type="search" required>
        <label for="search"><i class="mdi-action-search"></i></label>
      </div>
    </form>
    <div class="col s8 offset-s2">
      <br>
      {{#each items}}
      {{type}} - {{name}} 
      <a class="waves-effect waves-teal btn-flat addItem">Add</a>
      <br>
      {{/each}}
    </div>
    <div class="col s12">
      {{#each tradeItems}}
      {{type}} - {{name}}
      <a class="waves=effect waves-light btn removeMyItem">Remove</a>
      <br>
      {{/each}}
    </div>
  </div>
  <div class="col s6 grey lighten-2">
    <h3 class="center-align">I Want...</h3>
    <form>
      <div class="input-field">
        <input placeholder="Search Inventory" id="market_search" type="search" required>
        <label for="search"><i class="mdi-action-search"></i></label>
      </div>
    </form>
    <div class="col s8 offset-s2">
      <br>
      {{#each availableItems}}
      {{type}} - {{name}} 
      <a class="waves-effect waves-teal btn-flat addMarketItem">Add</a>
      <br>
      {{/each}}
    </div>
    <div class="col s12">
      {{#each marketItems}}
      {{type}} - {{name}} 
      <a class="waves=effect waves-light btn removeMarketItem">Remove</a>
      <br>
      {{/each}}
    </div>
  </div>
</div>
<div class="row">
  <div class="col s4 offset-s4 center-align">
    <a class="waves=effect waves-light btn" id="postTrade">Post Trade</a>
  </div>
</div>
</template>
