<template name="withdrawIronBucks">
<div class="row">
  <div class="col s4">
    <div class="tradingFloor pan">
      <div class="colored-title">
        Instructions
      </div>
      <div class="chatTextWindow">
        <ol>
          <li>Enter the amount of IronBucks you want to withdraw</li>
          <li>The price will show up in USD</li>
          <li>Click Go!</li>
          <li>If you have a Coinbase account, Bitcoin will automatically be
            transferred to your account.</li>
          <li>Otherwise you will receive an email which will allow you to
            collect your Bitcoin</li>
          <li>That's it! Your IronBucks should be updated within seconds with
            your new balance.</li>
        </ol>
      </div>
    </div>
  </div>
  <div class="col s6">
    <div class="tradingFloor pan">
      <div class="colored-title">
        Current Balance: {{ironBucks}}
      </div>
      <div class="chatTextWindow">
        <div class="input-field col s8 offset-s2">
          <input id="amount" type="number" class="validate">
          <label for="amount">Amount of IronBucks to Withdraw</label> 
        </div>
        <div class="col s12 center">
          {{#if price}}
          <p>
          <h5>Receive : {{price}} USD</h5>
          </p>
          {{/if}}
        </div>
        <div class="col s12 center">
          {{#if withdrawPending}}
          <a class="btn-floating btn-large waves-effect waves-light
          center disabled" id="pending">
            Wait
          </a>
          {{else}}
          <a class="btn-floating btn-large waves-effect waves-light red
          center" id="withdraw">
            Go!
          </a>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>
</template>
