<template name="chatWindow">
  <div class="row">
    <div class="col s3 grey darken-3">
      <div class="section">
        <h5 class="left-align">Channels</h5>
      </div>
      <div class="divider"></div>
      <div class="section">
        {{#each channels}}
          {{> channel}}
        {{/each}}
      </div>
    </div>
    <div class="col s9 grey lighten-5">
      <div class="section">
        <h5 class="left-align">Chat</h5>
      </div>
      <div class="divider"></div>
      <!-- TODO: move style to sass file -->
      <div class="section" style="overflow: auto; height:400px;">
        {{#if Template.subscriptionsReady}}
          {{#each messages}}
            {{> message}}
          {{else}}
            <h5>This channel is currently empty</h5>
          {{/each}}
        {{else}}
          Loading...
        {{/if}}
      </div>
      <div class="divider"></div>
      <div class="section">
        {{> chatInput}}
      </div>
    </div>
  </div>
</template>
