<template name="faq">
<h1 class="center-align">FAQ</h1>
<div class="row">
  <div class="col s12">
    <p>Q: Why should I use your website?</p>
    <p>A: Hopefully, it's because after trying us you believe we offer the most
    intuitive, secure, and fun trading platform. Our goal is to streamline the
    process of your trading, so much so that it feels like you're playing
    another game! We're both gamers, and we've dealt with the
    hassle of using fences (middlemen), ebay, etc. when you want to sell or
    trade your items. It's no fun, it's time-consuming, and it's not
    particularly secure.</p>
    <br>
    <p>Q: How do you guarentee my trade will work and I won't get ripped off?</p>
    <p>A: First all items and cash are transferred from the players trading to
    us. Then, once we verify both the items and/or cash amounts are correct, we
    transfer any items to a player. Finally, after verifying the item
    transfers, we transfer the cash. On the incredibly remote chance that
    something fails, we have detailed logs to a) track down any issues and b)
    validate an insurance claims. In either case we'll make sure you're
    immediately reimbursed first and then pursue recovering our losses second</p>
    <br>
    <p>Q: How do you make money?</p>
    <p>A: We take 10% of all cash payments.</p>
    <br>
    <p>Q: Why do you take 10% of cash payments?</p>
    <p>A: Like all businesses, we need to make money. On the internet, you can
    either charge your users directly or sell access and data to advertisers.
    We believe that charging you, the users, directly is more honest and
    transparent. </p>
    <br>
    <p>Q: So you don't sell ads?</p>
    <p>A:No, this trading platform will never host ads.  
    We believe that ads often compromise the experience of using a
    web application. Our objective is to deliver the cleanest, most intuitive user
    interface, and we refuse to compromise on that</p>
    <br>
    <p>Q: Does trading items cost anything?</p>
    <p>A: No. Items are free to trade, we only make money cash transfers.</p>
    <br>
    <p>Q: Where are you based?</p>
    <p>A: Boston, Massachusetts. But, like pretty much all companies these
    days, our servers are in the cloud</p>
  </div>
</div>
</template>
