<template name="faq">
<h3 class="center-align">FAQ</h3>
<hr>
<div class="container">
<div class="row">
  <div class="col s12">
    <p class="faq-q">How do you guarentee my trade will work and I won't get ripped off?</p>
    <p class="faq-a">We put a lot of though into that. Here is our process:</p>
    <ol class="faq-a">
        <li>
            Any items that a user wishes to trade or sell are transferred to one of our bots.
        </li>
        <li>
            Once the items are in our ecosystem (your stash), we can confidently ensure that all trades will be shenanigan-free.
        </li>
        <li>
            If a user wishes to use real cash to purchase items, they may buy IronBucks (our internal currency that mirrors the value of the U.S dollar) using bitcoin.
        </li>
        <li>
            All trades - either item for item or item for cash - happen within our secure ecosystem.
        </li>
        <li>
            When you want to withdraw items from your stash, we will have one of our bots send you a trade offer via Steam.
        </li>
        <li>
            Users may instantly cash out their IronBucks for their local currency at any time using Coinbase.
        </li>
    </ol>
    <p class="faq-a">
        We maintain detailed logs to a) track down any issues and b)
        validate an insurance claim. In either case we'll make sure you're
        immediately reimbursed first and then pursue recovering our losses second.
    </p>
    <br>
    <p class="faq-q">How do you make money?</p>
    <p class="faq-a">We take a 10% cut of all IronBucks that change hands.</p>
    <br>
    <p class="faq-q">Why do you have to charge a fee?</p>
    <p class="faq-a">Like all businesses, we need to make money. On the internet, you can
    either charge your users directly or sell access / data to advertisers.
    We believe that charging you, the users, directly is more honest and
    transparent. Furthermore our business has significant expenses: servers,
    payment processing, and development time.</p>
    <br>
    <p class="faq-q">So you don't sell ads?</p>
    <p class="faq-a">We believe that ads often compromise the experience of using a
    web application. Our objective is to deliver the cleanest, most intuitive user
    interface.</p>
    <br>
    <p class="faq-q">Does trading items cost anything?</p>
    <p class="faq-a">No. Items are free to trade. We only make money by taking a cut of any IronBucks involved in trades.</p>
    <br>
    <p class="faq-q">Where are you based?</p>
    <p class="faq-a">Boston, Massachusetts. But, like pretty much all companies these
    days, our servers are in the cloud.</p>
  </div>
</div>
</div>
</template>
