<template name="faq">
<div class="container">
  <div class="row">
    <div class="col s12 help">
      <h5 class="help-header">How do you guarentee my trade will work and I
        won't get ripped off?</h5>
      <p>We put a lot of though into that. Here is our process:</p>
      <ol>
        <li>
          Any items that a user wishes to trade or sell are transferred to one of our bots.
        </li>
        <li>
          Once the items are in our ecosystem (your stash), we can confidently ensure that all trades will be shenanigan-free.
        </li>
        <li>
          If a user wishes to use real cash to purchase items, they may buy IronBucks (our internal currency that mirrors the value of the U.S dollar) using bitcoin.
        </li>
        <li>
          All trades - either item for item or item for cash - happen within our secure ecosystem.
        </li>
        <li>
          When you want to withdraw items from your stash, we will have one of our bots send you a trade offer via Steam.
        </li>
        <li>
          Users may instantly cash out their IronBucks for their local currency at any time using Coinbase.
        </li>
      </ol>
      <p>
      We maintain detailed logs to a) track down any issues and b)
      validate an insurance claim. In either case we'll make sure you're
      immediately reimbursed first and then pursue recovering our losses second.
      </p>
      <br>
      <h5 class="help-header">How do you make money?</h5>
      <p>We take a 10% cut of all funds that change hands.</p>
      <br>
      <h5 class="help-header">Does trading items cost anything?</h5>
      <p>No. Items are free to trade. We only make money by taking a cut of any IronBucks involved in trades.</p>
      <br>
      <h5 class="help-header">Where are you based?</h5>
      <p>Boston, Massachusetts. But, like pretty much all companies these
      days, our servers are in the cloud.</p>
    </div>
  </div>
</div>
</template>
