<template name="layout">
<div class="background-image"></div>
<!-- Nav Bar -->
<header>
  {{ #if currentUser }}
    {{> navbar }}
  {{ /if }}
</header>
<!-- Content Area -->
<main>
{{> sAlert}}
{{> yield}}
</main>
<!-- Footer -->
<footer class="page-footer">
  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <div class="bottom-links">
            <span>© 2015 Copyright IronFoil and DeltaVeeLabs</span>
            <span>
              <a class="grey-text text-lighten-3 " href="{{pathFor route='about'}}">
                About Us
              </a>
            </span>
            <span>
              <a class="grey-text text-lighten-3" href="{{pathFor route='contact'}}">
                Contact
              </a>
            </span>
            <span>
              <a class="grey-text text-lighten-3" href="{{pathFor route='help'}}">
                Help
              </a>
            </span>
            <span>
              <a class="grey-text text-lighten-3" href="{{pathFor route='faq'}}">
                FAQ
              </a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
</template>
