<template name="navbar">
  <ul id="loginNavLink" class="dropdown-content">
    {{#each userNavOptions }}
      <li><a href="#!" class="{{ thisClass }}">{{ text }}</a></li>
    {{/each}}
  </ul>
  <nav>
    <div class="nav-wrapper">
      <a href="{{pathFor route='landing'}}" class="brand-logo">IronFoil</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="{{ pathFor 'tradingFloor' }}">Trading Floor</a></li>
        <li><a href="#">Market</a></li>
        {{ #if loggedIn }}
          <li><a href="{{pathFor route='inventory'}}">My Inventory</a></li>
          <li><a href="{{pathFor route='home'}}">Command Center</a></li>
        {{ /if }}
        <li><a class="dropdown-button loginDropdown" href="#!" data-activates="loginNavLink" hover="true">{{ userNavText }}<i class="material-icons right loginDropIcon">arrow_drop_down</i></a></li>
      </ul>
    </div>
  </nav>
</template>
