<template name="contact">
  <div class="container">
    <div class="row">
      <div class="col s12 help">
        <h5 class="help-header">Contact</h5>
        <p>For issues with the web application or your account please contact:
        {{contactEmail}}</p> 
        <p>For business inquiries please contact: {{contactEmail}}</p>
        <h5 class="help-header">Refund Policy</h5>
        <p>
          We believe in fairness and ensuring customer satisfaction. If you
          inadvertently purchased IronBucks, we are happy to refund you without
          our normal fee if the following conditions are met:
        </p>
        <ul>
          <li>a. The request was submitted within three (3) business days of
            deposit</li>
          <li>b. No IronBucks were used to purchase items on IronFoil since the
            deposit</li>
        </ul>
        <p>
          If the above conditions are not met, you will be subject to the
          standard fee outlined in the User Agreement. Please note that you are able to
          withdraw IronBucks at any time in accorance with our fee.
        </p>

        <p>
          For further information or to request an exception to this policy
          please email us at {{contactEmail}}. Please include any relevant
          details.
        </p>
        
      </div>
    </div>
  </div>
</template>
