<template name="ironBucks">
<div class="container">
<div class="row">
  <div class="col s12">
    <ul class="tabs">
      <li class="tab col s3"><a href="#overview">Overview</a></li>
      <li class="tab col s3"><a class="active" href="#add">Add IronBucks </a></li>
      <li class="tab col s3"><a href="#withdraw">Withdraw IronBucks</a></li>
    </ul>
  </div>
  <div id="overview" class="col s12">Overview</div>
  <div id="add" class="col s12">{{> addIronBucks}}</div>
  <div id="withdraw" class="col s12">{{> withdrawIronBucks}}</div>
</div>
</div>
</template>
