<template name="makeOffer">
<h1>Make Offer</h1>
<div class="row">
  <div class="col s6 offset-s3">
    <p>Here you can make an offer for a listing in the market. On the right
    side you see what the member is offering. On the left you see what they
    want. To confirm your trade offer, click post trade.  
    </p>
  </div>
</div>
<div class="row">
  <div class="col s6 grey lighten-4">
    <h3 class="center-align">They have...</h3>
    <div class="col s12">
      {{#each listingItems}}
      {{type}} - {{name}}
      <br>
      {{/each}}
    </div>
  </div> <!-- col s6 -->
  <div class="col s6 grey lighten-2">
    <h3 class="center-align">They Want</h3>
    <div class="col s12">
      {{#each requestedItems}}
      {{type}} - {{name}} 
      <br>
      {{/each}}
    </div>
  </div> <!-- col s6 -->
</div> <!-- row -->
<div class="row">
  <div class="col s4 offset-s4 center-align">
    <a class="waves=effect waves-light btn" id="makeOffer">Post Trade</a>
  </div>
</div> <!--row -->
</template>
