<template name="market">
  <div class="row">
    <div class="col s6 offset-s3 center-align">
      <div class="nav">
        <form>
          <div class="input-field">
            <input placeholder="search" id="search" type="search" required>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s2">
      <div id="slide-out">
        {{> genericItems }}
      </div>
    </div>
    <div class="col s8">
      <div class="market">
        {{ #if filterTerms }}
          <div class="row">
            <div class="col s10">
              {{ #each filterTerms }}
                <a href="#!" class="filter-term">
                  {{ name }} <span>&times;</span>
                </a>
              {{ /each }}
            </div>
          </div>
        {{ /if }}
        {{ #each listings }}
          {{> marketRow timeinforow=true data=this showControls=true leftSide=this.items rightSide=this.request }}
        {{ else }}
          <div class="col s10 center">There are no items that match your search criteria</div>
        {{ /each }}
      </div>
    </div>
  </div>
</template>
