<template name="market">
<div class="row">
  <div class="col s6">
    <h1>Market</h1>
  </div>
  <div class="col s6">
    <a class="btn-floating btn-large waves-effect waves-light red">
      <i class="mdi-content-add"></i>
    </a>
  </div>
</div>
<div class="row">
  <div class="col s6">
    <div class="input-field">
      <input id="search" type="search" required>
      <label for="search"><i class="mdi-action-search"></i></label>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s5">
    <img src="/images/profile.png" alt="" width="100" height="100" class="responsive-img">
  </div>
  <div class="col s2">
        
  </div>

  <div class="col s5">
        
  </div>
</div>
</template>
