<template name="myInventory">
  <div class="container">
    {{> itemInfoModal selectedItem }}
    <div class="row">
      <div class="col s12">
        <a href="{{ pathFor route='manageStash' }}" class="waves-effect waves-default btn right if-btn"><i class="material-icons right">repeat</i>manage stash</a>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <div class="card-panel pan">
          <div class="colored-title">
            Inventory
          </div>
          <div class="row">
            <div class="col s12">
              <form>
                <div class="input-field">
                  <input placeholder="Search Inventory" id="search" type="search" required>
                  <label for="search"><i class="mdi-action-search"></i></label>
                </div>
              </form>
            </div>
          </div>
          <div class="row">
            {{#each items}}
              <div class="col s2">
                <a href="#itemModal" class="item-modal-trigger">
                  <img src="{{iconURL}}" class="responsive-img">
                </a>
              </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
