<template name="offerModal">
  {{ #if listing }}
    <div id="offer-modal" class="offer-modal-container">
      <div class="row">
        <div class="col s6 offset-s3 offer-modal-content">
          {{> marketRow }}
          <div class="table-fun">
            <div class="table-row">
              <div class="table-cell cell6">
                {{#each listingItems}}
                  {{type}} - {{name}}
                  <br>
                {{/each}}
              </div>
              <div class="table-cell cell6">
                stuff here
              </div>
            </div>
            <div class="table-row">
              <div class="table-cell s3">
                {{#each requestedItems}}
                {{type}} - {{name}}
                <br>
                {{/each}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s6 offset-s3 offer-modal-content" id="offer-stash-items">
          {{> itemContainer stashOptions }}
        </div>
      </div>
      <div class="row">
        <div class="col s2 offset-s7">
          <div>
            <a href="#!" id="makeOffer" class="btn btn-flat green">Accept</a>
          </div>
        </div>
      </div>
    </div>
  {{ /if }}
</template>