<template name="realTimeTrading">
  <div id="realtime-modal" class="offer-modal-container">
    <div class="row">
      <div class="col s6 offset-s3 offer-modal-content fade-up">
        <div class="row">
          <div class="col s6 username">
            trading with <span>{{ otherUserName }}</span>
          </div>
        </div>
        <div class="row">
          <div class="col s12 current-realtime-row {{ stageClass }}">
            {{> marketRow leftSide=myItems rightSide=theirItems }}
          </div>
        </div>
        {{ #if completed }}
          <div class="row">
            <div class="col s12 center">
              <h3>Trade complete!</h3>
            </div>
          </div>
          <div class="row">
            <div class="col s4 offset-s4">
              <a href="#!" class="btn btn-block green hide-trade">Dismiss</a>
            </div>
          </div>
        {{ else }}
          <div class="row">
            <div class="col s6 my-realtime-items">
              {{> itemContainer stashOptions }}
            </div>
            <div class="col s6 realtime-chat-box">
              <div class="chat-display-box">
                {{ #each messages }}
                  <div class="chat-userinfo">
                    <span class="chat-time">{{ justTime datePosted }}</span> {{ user.profile.name }}
                  </div>
                  <div class="chat-msg">{{ textWithImages }}</div>
                {{ /each }}
              </div>
              <form class="chat-inp-form">
                <div class="table-fun chat-inp">
                  <div class="table-row">
                    <div class="table-cell cell10">
                      <div>
                        <input type="text" placeholder="Send a message">
                      </div>
                    </div>
                    <div class="table-cell cell2 submit-cell">
                      <button type="submit" class="btn btn-chatsubmit"><i class="material-icons">play_arrow</i></button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="row">
            <div class="col s4">
              <div>
                <a href="#!" id="cancelModal" class="btn btn-block red {{ leftButtonClass }}">{{ leftButtonText }}</a>
              </div>
            </div>
            <div class="col s2 offset-s1">
              <a href="#!" class="btn btn-block grey darken-3 hide-trade"><i class="material-icons">visibility_off</i></a>
            </div>
            <div class="col s4 offset-s1">
              <div>
                <a href="#!" class="btn btn-block green {{ rightButtonClass }} {{ isDiabled }}">{{ rightButtonText }}</a>
              </div>
            </div>
          </div>
        {{ /if }}
      </div>
    </div>
  </div>
</template>
