<template name="signup">
<p>Payment is provided through Stripe</p>
<div class="row">
  <div class="col s12">
  </div>
  <form id="application-signup" class="col s12">
    {{> Template.dynamic template="creditCard" data="signup"}}
    <div class="col s6 offset-s3 center-align">
      <input type="submit" class="waves-effect waves-light btn-large"
         data-loading-text="Setting up your trial..." 
         style="margin-top: 40px; margin-bottom: 20px;" 
         value="Add Payment Info">
    </div> <!-- end .form-group -->"
  </form>
</div>
</template>
