<template name="tour">
<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="card-panel pan">
        <div class="colored-title">
          Getting Started
        </div>
        <p>Trading Floor: A place to chat real-time. Ties directly into your
        stash so you can propose trades</p>
        <p>Market: See what items are available or post your own offer</p>
        <p>My Inventory: Transfer items to your stash</p>
        <p>IronBucks: Your accound balance. Add funds to your account here</p>
        <p>Command Center: Your home page</p>
        <br>
        <a href="{{pathFor route='profile'}}" id="tourComplete">Click here to
          continue</a>
      </div>
    </div>
  </div>
</div>
</template>
