<template name="tour">
<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="card-panel pan">
        <div class="colored-title">
          Getting Started
        </div>
        <p>IronFoil lets you trade like you game: Quick and Precise</p>
        <p>Add your items to the IronFoil <b>stash</b>. Trade instantly or
        withdraw them at any time.</p>
        <p>Use the <b>Trading Floor</b> to scope out offers, see what people are
        saying, and launch a private chat or a <b>Real Time Trade</b>.</p>
        <p>Throw your gear on the <b>Market</b> and see what offers you get. Switch to
        a real-time trade to get the gear you need.</p>
        <p>Buy or sell an item with cash by adding <b>IronBucks</b> to your account.
        Cash out at any time.</p>
        <p>Regroup and Plan at your <b>Commander Center</b>. See what offers you have,
        what items you've listed, etc.</p>
        <br>
        <a href="{{pathFor route='profile'}}" id="tourComplete">Click here to
          continue</a>
      </div>
    </div>
  </div>
</div>
</template>
