<template name="tour">
<div class="container">
  <div class="row">
    <div class="col s12">
      <h3>Welcome</h3>
      <p>A few quick tips to get you started. Up on the top you'll see a few
      links, these are the main areas of IronFoil.</p>
      <ul class="collection">
        <li>Trading Floor: A place to chat real-time. Ties directly into your
          stash so you can propose trades!</li>
        <li>Market: See what items are available or post your own offer</li>
        <li>My Inventory: Transfer items to your stash</li>
        <li>Account Balance:</li>
        <li>Command Center: Your home page</li>
      </ul>
      <p>To get started, please fill out your profile by clicking on then link.
      Then add items to your stash or add money</p>   
      <p>Note: you can see this screen again by going to 'Getting Started' on
      the Command Center</p>
      <a href="{{pathFor route='profile'}}" id="tourComplete">Profile</a>
    </div>
  </div>
</div>
</template>
