<template name="stashTransNextSteps">
  <div class="container">
    <div class="row">
      <div class="col s6 offset-s3 next-steps-div card-panel pan">
        <p>The request has been sent to one of our bots.</p>
        <p>The bot will send you a trade request momentarily, which you must accept to complete the transaction. Once accepted, you will be able to trade any items newly added to your stash.</p>
        <p class="emphasis">This offer will expire <span>5 minutes</span> after you receive it.</p>
      </div>
    </div>
    <div class="row">
      <div class="col s6 offset-s3 center">
        <a href="#!" class="waves-effect waves-light btn center if-btn" id="nextStepsHome"><i class="material-icons right">home</i>inventory</a>
      </div>
    </div>
  </div>
</template>