<template name="stashTransNextSteps">
  <div class="container">
    <div class="row">
      <div class="col s12 next-steps-div">
        <p>The request has been sent to one of our bots. The bot will send you a trade request momentarily, which you must accept to complete the transaction. Once accepted, you will be able to trade any items newly added to your stash.</p>
      </div>
    </div>
    <div class="row">
      <div class="col s12 next-steps-div">
        <a class="waves-effect waves-light btn center" id="nextStepsHome"><i class="material-icons right">home</i>home</a>
      </div>
    </div>
  </div>
</template>